<div class="container-fluid"> 
    <div class="top-Nav">
        <div class="row">                   
            <div class="nav-icons pull-right">  
                <div id="last-nav-item" class="text-wrap">Get Started</div>
            </div>
            <div class="nav-icons-normal pull-right">
                <div class="text-wrap">Login</div>
            </div>
            <div class="nav-plates pull-right">
                <div class="text-wrap">Pricing</div>
            </div>
            <div class="nav-plates pull-right">
                <div class="text-wrap">Solutions</div>
            </div>
            <div class="nav-plates pull-right">
                <div class="text-wrap">Products</div>
            </div>
            <div class="home-icon">
                <img src="../../assets/img/logo.png"/>
            </div>
        </div>
      </div>
  </div>